<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href=" /css/style.css">
    <title>
        First Web application
    </title>
</head>
<body>
{{errorMessage}}
<form method="post">
    <div class="container">

        <label for="username"><b>Username</b>
            <input type="text" name="username" placeholder="Enter Username" required/>
        </label>

        <label for="password"><b>Password</b>
            <input type="password" name="password" placeholder="Enter Password" required/>
        </label>

        <input type="submit" value="Sign in"/>
    </div>
</form>
</body>
</html>
