<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        First Web application
    </title>
</head>
<body>
<p>{{errorMessage}}</p>
<form method="post">
    Username : <label>
    <input type="text" name="username" placeholder="Enter Username" required/>
</label>
    Password : <label>
    <input type="password" name="password" placeholder="Enter Password" required/>
</label>
    <input type="submit" value="Sign in"/>
</form>
</body>
</html>